<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/res/component/layui/css/layui.css"/>
    <style>
        body {
            margin: 10px;
            background: whitesmoke;
        }

        .layui-table-cell {
            text-align: center;
            height: auto;
            white-space: normal;
        }

        .layui-table img {
            max-width: 300px
        }
    </style>
</head>
<body>
<script src="/res/component/layui/layui.js"></script>
<div class="layui-card">
    <div class="layui-card-header"></div>
    <blockquote class="layui-elem-quote">
        <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">记录ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="exitEntryId" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <button type="button"  class="layui-btn" lay-submit="" lay-filter="doSearch"><span
                                class="layui-icon layui-icon-search"></span>查询
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </blockquote>


    <div class="layui-card-body">
        <table id="checkExitEntryForm" lay-filter="test"></table>
    </div>
</div>



<script type="text/html" id="checkBar">
    <button class="layui-btn layui-btn-normal" lay-event="check">审核</button>
</script>

<script type="text/javascript">
    layui.use(["layer", "table", "laydate", "form"], function () {
        var tableIns;
        var url;
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer,
            table = layui.table,
            laydate = layui.laydate;

        var tableIns = table.render({
            elem: '#checkExitEntryForm',
            url: '/exit-entry/list',
            page: true,
            cols: [
                [ //表头
                    {field: 'exitEntryId', title: '出入境记录ID', width: 150, sort: true}
                    , {field: 'fromId', title: '发起人ID', width: 120, sort: true}
                    , {field: 'toId', title: '接受人ID', width: 120, sort: true}
                    , {field: 'relicId', title: '文物ID', width: 100}
                    , {field: 'origin', title: '出关地点', width: 125, sort: true}
                    , {field: 'destination', title: '目的地', width: 125, sort: true, align: 'center'}
                    , {field: 'exitEntryCheckStatus', title: '政府是否已审核', width: 150, sort: true, templet: "#forGovernment"}
                    , {field: 'exitEntryResponse', title: '政府审核意见', width: 200, sort: true, align: 'center'}
                    , {field: 'exitEntryCustomsStatus', title: '海关是否已审核', width: 150, sort: true, templet: "#forExitEntry"}
                    , {field: 'exitEntryCustomsResponse', title: '海关审核意见', width: 200, sort: true}
                    , {field: 'exitEntryBlockChainStatus', title: '信息是否已上链', width: 150, sort: true, templet: "#forBlockChain"}
                    , {field: '', title: '审核', width: '120', sort: true, toolbar: "#checkBar"}
                ]
            ]
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent == 'check') {
                layer.open({
                    type: 1
                    , title: '文物出入境申请详细信息'
                    , area: '500px;'
                    , shade: 0.8
                    , btn: ['同意申请', '拒绝申请']
                    , btnAlign: 'c'
                    , moveType: 1
                    ,content: '<div style="padding: 50px; line-height: 22px; color:; font-weight: 300;">出入境记录ID：'+data.exitEntryId+'<br><br>发起人ID：'+data.fromId+'<br><br>接受人ID：'+data.toId+'<br><br>文物ID：'+data.relicId+'<br><br>出关地点：'+data.origin+'<br><br>目的地：'+data.destination+'<br><br>政府是否已审核：'+data.exitEntryCheckStatus+'<br><br>政府审核意见：'+data.exitEntryResponse+'<br><br>海关是否已审核：'+data.exitEntryCustomsStatus+'<br><br>海关审核意见：'+data.exitEntryCustomsResponse+'<br><br>信息是否已上链：'+data.exitEntryBlockChainStatus+'<br><br>审核意见 \n \n<br>' +
                        '<textarea id="exitEntryCustomsResponse" placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>\n'
                    ,btn1:function () {
                        alert("请稍等片刻，正在上链！上链成功后将为您自动跳转");
                        $.ajax({
                            url:"/exit-entry/checkExitEntry",
                            scriptCharset: "utf-8",
                            data: {fromId:data.fromId,toId:data.toId,relicId:data.relicId,origin:data.origin,destination:data.destination,exitEntryCheckStatus:data.exitEntryCheckStatus,exitEntryResponse:data.exitEntryResponse,exitEntryId:data.exitEntryId,exitEntryCustomsStatus:1,exitEntryBlockChainStatus:1,exitEntryCustomsResponse:document.getElementById("exitEntryCustomsResponse").value},
                            type: "GET",
                            success: function (msg) {
                                setTimeout(window.location.href="/sys/toCheckExitEntry",3000);
                            }
                        });
                    }
                    ,btn2:function () {
                        $.ajax({
                            url:"/exit-entry/checkExitEntry",
                            scriptCharset: "utf-8",
                            data: {fromId:data.fromId,toId:data.toId,relicId:data.relicId,origin:data.origin,destination:data.destination,exitEntryCheckStatus:data.exitEntryCheckStatus,exitEntryResponse:data.exitEntryResponse,exitEntryId:data.exitEntryId,exitEntryCustomsStatus:1,exitEntryBlockChainStatus:0,exitEntryCustomsResponse:document.getElementById("exitEntryCustomsResponse").value},
                            type: "GET",
                            success: function (msg) {
                                window.location.href="/sys/toCheckExitEntry";
                            }
                        });
                    }

                })
            }
        });


        $(document).on('click', '#uploadExitEntry', function () {
            exitEntryForm = layer.open({
                type: 1,
                content: $("#ExitEntryFormLayer"),
                area: ['800px', '600px'],
                title: '提交出入关申请',
                success: function () {
                    url = "/exit-entry/insertExitEntry";
                }
            })
        });

        form.on("submit(doSubmit)", function (data) {
            $.post(url, data.field, function (res) {
                layer.closeAll();
                if (res.code == 200) {
                    layer.msg("插入成功");
                } else {
                    layer.msg("插入失败");
                }
            })
        });

        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });
    });
</script>

<script type="text/html" id="forGovernment">
    {{# if(d.exitEntryCheckStatus == '0'){d.exitEntryCheckStatus='未审核'}}
    <span style="color: #1890ff">{{d.exitEntryCheckStatus}}</span>
    {{#} else if(d.exitEntryCheckStatus == '1') {d.exitEntryCheckStatus = '已审核'}}
    {{d.exitEntryCheckStatus}}
    {{#}}}
</script>

<script type="text/html" id="forExitEntry">
    {{# if(d.exitEntryCustomsStatus == '0'){d.exitEntryCustomsStatus='未审核'}}
    <span style="color: #1890ff">{{d.exitEntryCustomsStatus}}</span>
    {{#} else if(d.exitEntryCustomsStatus == '1') {d.exitEntryCustomsStatus = '已审核'}}
    {{d.exitEntryCustomsStatus}}
    {{#}}}
</script>

<script type="text/html" id="forBlockChain">
    {{# if(d.exitEntryBlockChainStatus == '0'){d.exitEntryBlockChainStatus='未上链'}}
    <span style="color: #1890ff">{{d.exitEntryBlockChainStatus}}</span>
    {{#} else if(d.exitEntryBlockChainStatus == '1') {d.exitEntryBlockChainStatus = '已上链'}}
    {{d.exitEntryBlockChainStatus}}
    {{#}}}
</script>
</body>
</html>