<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/res/component/layui/css/layui.css"/>
    <style>
        body {
            margin: 10px;
            background: whitesmoke;
        }

        .layui-table-cell {
            text-align: center;
            height: auto;
            white-space: normal;
        }

        .layui-table img {
            max-width: 300px
        }
    </style>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">处理出入境申请</div>

    <div class="layui-card-body">
        <table id="demo" lay-filter="test"></table>
    </div>
</div>

<style type="text/css">
    .layui-table-cell {
        text-align: center;
        height: auto;
        white-space: normal;
    }

    .layui-table img {
        max-width: 300px
    }
</style>

<script src="/res/component/layui/layui.js"></script>
<script type="text/html" id="upLoadBar">
    <button class="layui-btn layui-btn-normal" lay-event="check">操作</button>
</script>

<script type="text/javascript">
    layui.use(["layer", "table", "laydate", "form"], function () {
        var url;
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer,
            table = layui.table,
            laydate = layui.laydate;

        table.render({
            elem: '#demo',
            url: '/exit-entry/list',
            page: true,
            cols: [
                [ //表头
                    {field: 'exitEntryId', title: '出入境记录ID', width: 150, sort: true, align: 'center'}
                    , {field: 'fromId', title: '发起人ID', width: 120, sort: true, align: 'center'}
                    , {field: 'toId', title: '接受人ID', width: 120, sort: true, align: 'center'}
                    , {field: 'relicId', title: '文物ID', width: 120, templet: "#forStatus", align: 'center'}
                    , {field: 'origin', title: '出关地点', width: 125, sort: true, align: 'center'}
                    , {field: 'destination', title: '目的地', width: 125, sort: true, align: 'center'}
                    , {field: 'exitEntryCheckStatus', title: '政府是否已审核', width: 150, sort: true, templet: "#forGovernment", align: 'center'}
                    , {field: 'exitEntryResponse', title: '政府审核意见', width: 150, sort: true, align: 'center'}
                    , {field: 'exitEntryCustomsStatus', title: '海关是否已审核', width: 150, sort: true, templet: "#forExitEntry", align: 'center'}
                    , {field: 'exitEntryCustomsResponse', title: '海关审核意见', width: 150, sort: true, align: 'center'}
                    , {field: 'exitEntryBlockChainStatus', title: '信息是否已上链', width: 150, sort: true, templet: "#forBlockChain", align: 'center'}
                    , {field: '', title: '审核', width: '120', toolbar: "#upLoadBar"}
                ]
            ]
        })

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent == 'check') {
                layer.open({
                    type: 1
                    ,title: '文物出入境申请详细信息'
                    ,area: '500px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['同意申请', '拒绝申请']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1k
                    ,content: '<div style="padding: 50px; line-height: 22px; color:; font-weight: 300;">出入境记录ID：'+data.exitEntryId+'<br><br>发起人ID：'+data.fromId+'<br><br>接受人ID：'+data.toId+'<br><br>文物ID：'+data.relicId+'<br><br>出关地点：'+data.origin+'<br><br>目的地：'+data.destination+'<br><br>政府是否已审核：'+data.exitEntryCheckStatus+'<br><br>政府审核意见：'+data.exitEntryResponse+'<br><br>海关是否已审核：'+data.exitEntryCustomsStatus+'<br><br>海关审核意见：'+data.exitEntryCustomsResponse+'<br><br>信息是否已上链：'+data.exitEntryBlockChainStatus+'<br><br>审核意见 \n \n<br>' +
                        '<textarea id="exitEntryResponse" placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>\n'
                    ,btn1:function () {
                        $.ajax({
                            url:"/exit-entry/govCheckExitEntry",
                            scriptCharset: "utf-8",
                            data: {exitEntryId:data.exitEntryId,exitEntryCheckStatus:1,exitEntryResponse:document.getElementById("exitEntryResponse").value},
                            type: "GET",
                            success: function (msg) {
                                window.location.href="/sys/toGovCheckExitEntry";
                            }
                        });
                    }
                    ,btn2:function () {
                        $.ajax({
                            url:"/exit-entry/govCheckExitEntry",
                            scriptCharset: "utf-8",
                            data: {exitEntryId:data.exitEntryId,exitEntryCheckStatus:1,exitEntryResponse:document.getElementById("exitEntryResponse").value},
                            type: "GET",
                            success: function (msg) {
                                window.location.href="/sys/toGovCheckExitEntry";
                            }
                        });
                    }


                });
            }
        });
        element.init();
    });
</script>

<script type="text/html" id="forGovernment">
    {{# if(d.exitEntryCheckStatus == '0'){d.exitEntryCheckStatus='未审核'}}
    <span style="color: #1890ff">{{d.exitEntryCheckStatus}}</span>
    {{#} else if(d.exitEntryCheckStatus == '1') {d.exitEntryCheckStatus = '已审核'}}
    {{d.exitEntryCheckStatus}}
    {{#}}}
</script>

<script type="text/html" id="forExitEntry">
    {{# if(d.exitEntryCustomsStatus == '0'){d.exitEntryCustomsStatus='未审核'}}
    <span style="color: #1890ff">{{d.exitEntryCustomsStatus}}</span>
    {{#} else if(d.exitEntryCustomsStatus == '1') {d.exitEntryCustomsStatus = '已审核'}}
    {{d.exitEntryCustomsStatus}}
    {{#}}}
</script>

<script type="text/html" id="forBlockChain">
    {{# if(d.exitEntryBlockChainStatus == '0'){d.exitEntryBlockChainStatus='未审核'}}
    <span style="color: #1890ff">{{d.exitEntryBlockChainStatus}}</span>
    {{#} else if(d.exitEntryBlockChainStatus == '1') {d.exitEntryBlockChainStatus = '已审核'}}
    {{d.exitEntryBlockChainStatus}}
    {{#}}}
</script>

</body>
</html>