<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/res/component/layui/css/layui.css"/>
    <style>
        body{margin: 10px;}
        .userimg{
            margin-top: 40%;
            margin-left: 35%;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
        .jpgAlter{
            margin-top: 25%;
            margin-left: 65%;
        }
    </style>
</head>
<body class="layui-layout-body">
<script src="/res/component/layui/layui.js"></script>
<!--<span id="getUserId">123</span>-->
<!--<div>-->
<!--    <div  class="layui-col-md4">-->
<!--        <div class="layui-row layui-col-space15">-->
<!--            <div  class="layui-col-md6">-->
<!--                <div class= "layui-card">-->
<!--                    <img src="/res/admin/images/avatar.jpg" class="userimg" >-->
<!--                    <div class="jpgAlter">-->
<!--                        <button class="layui-upload-button layui-btn" lay-event="uploadUserIcon">更换头像</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div  class="layui-col-md8">-->
<!--        <div class="layui-row layui-col-space15">-->
<!--            <div class="layui-col-md6">-->
<!--                <div class="layui-card">-->
<!--                    <div class="layui-card-header">个人信息修改</div>-->
<!--                    <div class="layui-card-body">-->
<!--                        <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">-->
<!--                            <div class="layui-row layui-col-space10 layui-form-item">-->
<!--                                <div class="layui-col-lg6">-->
<!--                                    <label class="layui-form-label">登录名：</label>-->
<!--                                    <div class="layui-input-block">-->
<!--                                        <input type="text" name="username" lay-verify="required" placeholder="请输入新用户名" autocomplete="off" class="layui-input">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="layui-row layui-col-space10 layui-form-item">-->
<!--                                <div class="layui-col-lg6">-->
<!--                                    <label class="layui-form-label">密码</label>-->
<!--                                    <div class="layui-input-block">-->
<!--                                        <input type="password" name="password" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="layui-card layui-form" lay-filter="component-form-element">-->
<!--                                <div class="layui-col-md12">-->
<!--                                    <label class="layui-form-label">性别</label>-->
<!--                                    <input type="radio" name="sex" value="nan" title="男">-->
<!--                                    <input type="radio" name="sex" value="nv" title="女" checked>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="layui-row layui-col-space10 layui-form-item">-->
<!--                                <div class="layui-col-lg6">-->
<!--                                    <label class="layui-form-label">我的地址：</label>-->
<!--                                    <div class="layui-input-block">-->
<!--                                        <input type="text" name="fullname" lay-verify="required" placeholder="系统深处的男人" autocomplete="off" class="layui-input">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="layui-form-item">-->
<!--                                <label class="layui-form-label">个人说明：</label>-->
<!--                                <div class="layui-input-block">-->
<!--                                    <textarea name="other" placeholder="超级管理员" class="layui-textarea"></textarea>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="layui-form-item">-->
<!--                                <div class="layui-input-block">-->
<!--                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>-->
<!--                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--    layui.use('upload', function () {-->
<!--        var $ = layui.$;-->
<!--        var upload = layui.upload;-->
<!--        var uploadUserIcon = upload.render({-->
<!--            elem: '.layui-upload-button',-->
<!--            url: '/relic/updateUser',-->
<!--            data: {-->
<!--                id: function () {-->
<!--                    return $("#pid").val();-->
<!--                }-->
<!--            },-->
<!--            done: function (res) {-->
<!--                if (res.code > 0) {-->
<!--                    return layer.msg('上传失败');-->
<!--                }-->
<!--                layer.closeAll();-->
<!--                layer.alert(res.data.similarity);-->
<!--            },-->
<!--            error: function () {-->
<!--                var demoText = $('#demoText');-->
<!--                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');-->
<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->
<div style="padding: 5px">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="required" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-block">
                    <input type="text" name="number" lay-verify="required" autocomplete="off" placeholder="请输入用户身份证" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">启用状态</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="status" value="1" title="可用" checked="">
                        <input type="radio" name="status" value="0" title="禁用" >
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="gender" value="1" title="男" checked="">
                        <input type="radio" name="gender" value="0" title="女" >
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">真实姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="realName" lay-verify="required" autocomplete="off" placeholder="请输入用户真实姓名" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-block">
                    <input type="text" name="age" lay-verify="required" autocomplete="off" placeholder="请输入用户年龄" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" lay-verify="required" autocomplete="off" placeholder="请输入用户手机号" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" name="addr" lay-verify="required" autocomplete="off" placeholder="请输入用户地址" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form', 'element', 'jquery'], function () {
        var $ = layui.jquery,
            form=layui.form;
        var id;
        $.ajax({
            url:"/login/getUserId",
            method:"get",
            success:function (a) {
                id = a;
            }
        });
        var url="/user/updateUser";
        form.on('submit(doSubmit)',function (data) {
            data.field.id = id;
            $.post(url,data.field,function(res){
                layer.msg(res.msg);
            });
            return false;
        })
    });
</script>

</body>
</html>