<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/res/component/layui/css/layui.css"/>
    <style>
        body{margin: 10px;}
        .userimg{
            margin-top: 40%;
            margin-left: 35%;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
        .jpgAlter{
            margin-top: 25%;
            margin-left: 65%;
        }
    </style>
</head>
<body class="layui-layout-body">
<script src="/res/component/layui/layui.js"></script>
<div>
    <div  class="layui-col-md4">
        <div class="layui-row layui-col-space15">
            <div  class="layui-col-md6">
                <div class= "layui-card">
                    <img src="/res/admin/images/avatar.jpg" class="userimg" >
                    <div class="jpgAlter">
                        <button class="layui-upload-button layui-btn" lay-event="uploadUserIcon">更换头像</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="layui-col-md8">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">个人信息修改</div>
                    <div class="layui-card-body">
                        <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">登录名：</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="username" lay-verify="required" placeholder="请输入新用户名" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">密码</label>
                                    <div class="layui-input-block">
                                        <input type="password" name="password" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-card layui-form" lay-filter="component-form-element">
                                <div class="layui-col-md12">
                                    <label class="layui-form-label">性别</label>
                                    <input type="radio" name="sex" value="nan" title="男">
                                    <input type="radio" name="sex" value="nv" title="女" checked>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">我的地址：</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="fullname" lay-verify="required" placeholder="系统深处的男人" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">个人说明：</label>
                                <div class="layui-input-block">
                                    <textarea name="other" placeholder="超级管理员" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use('upload', function () {
        var $ = layui.$;
        var upload = layui.upload;
        var uploadUserIcon = upload.render({
            elem: '.layui-upload-button',
            url: '/relic/updateUser',
            data: {
                id: function () {
                    return $("#pid").val();
                }
            },
            done: function (res) {
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                layer.closeAll();
                layer.alert(res.data.similarity);
            },
            error: function () {
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
            }
        })
    })
</script>
<script type="text/javascript">

</script>
</body>
</html>