<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/res/component/layui/css/layui.css"/>
 <!--   <link rel="stylesheet" href="/res/admin/css/pearForm.css"/>-->
    <style>
        body{margin: 10px;}
        .userimg{
            margin-top: 40%;
            margin-left: 35%;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
        .jpgAlter{
            margin-top: 25%;
            margin-left: 65%;
        }
    </style>
</head>
<body class="layui-layout-body">
<div>
    <div  class="layui-col-md4">
        <div class="layui-row layui-col-space15">
            <div  class="layui-col-md6">
                <div class= "layui-card">
                    <img src="admin/images/avatar.jpg" class="userimg" >
                    <div class="jpgAlter">
                        <button data-method="notice" class="layui-btn">更换头像</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="layui-col-md8">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">个人信息修改</div>
                    <div class="layui-card-body">
                        <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">登录名：</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="fullname" lay-verify="required" placeholder="system" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">真实姓名：</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="fullname" lay-verify="required" placeholder="超级管理员" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="男" title="男">
                                    <input type="radio" name="sex" value="女" title="女" checked>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item">
                                <div class="layui-col-lg6">
                                    <label class="layui-form-label">我的地址：</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="fullname" lay-verify="required" placeholder="系统深处的男人" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">个人说明：</label>
                                <div class="layui-input-block">
                                    <textarea name="other" placeholder="超级管理员" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../component/layui/layui.js"></script>
<script>
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            notice: function(){
                //示范一个公告层
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['火速围观', '残忍拒绝']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').attr({
                            href: 'http://www.layui.com/'
                            ,target: '_blank'
                        });
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>

<script>

    layui.use(['util', 'layer','form'], function () {


        var util = layui.util;

        var form = layui.form;

        var edit = tinymce.render({
            elem: "#edit"
            , height: 400
        });

        util.event('lay-event', {
            getContent: function () {
                console.log(edit.getContent())
                layer.msg("展开控制台查看")
            }
        });


    });
</script>
</body>
</html>