<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/res/component/layui/css/layui.css"/>
    <style>
        body {
            margin: 10px;
        }

        .layui-table-cell {
            text-align: center;
            height: auto;
            white-space: normal;
        }

        .layui-table img {
            max-width: 300px
        }
    </style>
</head>
<body>
<script src="/res/component/layui/layui.js"></script>
<div class="layui-card">
    <div class="layui-card-header">新增文物上链申请</div>
    <div style="margin: 15px">
        <button class="layui-btn" id="uploadMovement">提交申请</button>
    </div>
    <div class="layui-card-body">
        <table id="checkMovementForm" lay-filter="test"></table>
    </div>
</div>
<div style="display: none;padding: 5px" id="movementFormLayer">
    <form action="" method="post" class="layui-form layui-form-pane" id="movementForm" lay-fiter="movementForm">
        <div class="layui-form-item">
            <label class="layui-form-label">文物ID</label>
            <div class="layui-input-block">
                <input type="text" name="relicId" lay-verify="required" autocomplete="off" placeholder="请输入文物ID"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">国家认证编号</label>
            <div class="layui-input-block">
                <input type="text" name="govNum" lay-verify="required" autocomplete="off" placeholder="请输入国家认证编号"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文物名称</label>
            <div class="layui-input-block">
                <input type="text" name="relicName" lay-verify="required" autocomplete="off" placeholder="请输入文物名称"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文物描述</label>
            <div class="layui-input-block">
                <input type="text" name="relicDescribe" lay-verify="required" autocomplete="off" placeholder="请输入文物描述"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文物图片</label>
            <div class="layui-input-block">
                <input type="text" name="picture" lay-verify="required" autocomplete="off" placeholder="请输入文物图片"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否已鉴定</label>
            <div class="layui-input-block">
                <input type="text" name="identityStatus" lay-verify="required" autocomplete="off" placeholder="请回答是否已鉴定"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">鉴定结果</label>
            <div class="layui-input-block">
                <input type="text" name="relicStatus" lay-verify="required" autocomplete="off" placeholder="请输入鉴定结果"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">鉴定人ID</label>
            <div class="layui-input-block">
                <input type="text" name="identityId" lay-verify="required" autocomplete="off" placeholder="请输入鉴定人ID"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文物所有人ID</label>
            <div class="layui-input-block">
                <input type="text" name="ownerId" lay-verify="required" autocomplete="off" placeholder="请输入文物所有人ID"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否已审核</label>
            <div class="layui-input-block">
                <input type="text" name="checkStatus" lay-verify="required" autocomplete="off" placeholder="请输入是否已审核"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">审核意见</label>
            <div class="layui-input-block">
                <input type="text" name="movementResponse" lay-verify="required" autocomplete="off" placeholder="请输入审核意见"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit"><span
                        class="layui-icon layui-icon-add-1"></span>提交
                </button>
            </div>
        </div>
    </form>
</div>
<table id="demo" lay-filter="test"></table>
<div style="display: none;padding: 20px" id="ExitEntryFormLayer">
    <input type="hidden" name="Rid" id="Rid">
    <form action="" method="post" class="layui-form layui-form-pane" id="exitEntryForm" lay-fiter="exitEntryForm">
        <div class="layui-form-item">
            <label class="layui-form-label">接收人ID</label>
                <div class="layui-input-block">
                    <input type="text" name="toId" lay-verify="required" autocomplete="off" placeholder="请输入接收人ID" class="layui-input">
                </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出关地点</label>
            <div class="layui-input-block">
                <input type="text" name="origin" lay-verify="required" autocomplete="off" placeholder="请输入出关地点"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目的地</label>
            <div class="layui-input-block">
                <input type="text" name="destination" lay-verify="required" autocomplete="off" placeholder="请输入目的地"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit"><span
                        class="layui-icon layui-icon-add-1"></span>提交
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="reviewApply">
    <button class="layui-btn layui-btn-normal" lay-event="reviewApply">查看流转信息</button>
</script>
<script type="text/html" id="exitEntryApply">
    <button class="layui-btn layui-btn-normal" lay-event="exitEntryApply">文物出入境申请</button>
</script>

<script type="text/javascript">
    layui.use(["jquery", "upload", "form", "layer", "element", "table"], function () {
        var url;
        var $ = layui.$,
            table = layui.table,
            element = layui.element,
            layer = layui.layer,
            upload = layui.upload,
            form = layui.form;

        $(document).on('click', '#uploadMovement', function () {
            movementForm = layer.open({
                type: 1,
                content: $("#movementFormLayer"),
                area: ['800px', '600px'],
                title: '提交文物上链申请',
                success: function () {
                    url = "/relic/list";
                }
            })
        })
        //第一个实例
        table.render({
            elem: '#demo'
            , height: 830
            , url: '/relic/userRelic' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {field: 'relicId', title: '文物ID', width: 90, sort: true}
                    , {field: 'govNum', title: '国家认证编号', width: 200, sort: true}
                    , {field: 'relicName', title: '文物名称', width: 150}
                    , {field: 'relicDescribe', title: '文物描述', width: 280}
                    , {field: 'picture', title: '文物图片', width: 350, templet: '<div><img src="{{d.picture}}"></div>'}
                    , {field: 'identityStatus', title: '是否已鉴定', width: 125, sort: true, templet: '#forCheck'}
                    , {field: 'relicStatus', title: '鉴定结果', width: 110, sort: true, templet: '#forCheckResponse'}
                    , {field: 'identityId', title: '鉴定人ID', width: 100}
                    , {field: 'relicBlockChainStatus', title: '是否已上链', width: 130, templet: '#forBlockChain'}
                    , {field: '', title: '操作', width: 170, toolbar: "#reviewApply"}
                    , {field: '', title: '文物出入境申请', width: 170, toolbar: "#exitEntryApply"}
                ]
            ]
        });
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if(layEvent == 'exitEntryApply') {
                layer.open({
                    type: 1,
                    title: '提交出入关申请',
                    content: $("#ExitEntryFormLayer"),
                    success: function () {
                        url = "/exit-entry/insertExitEntry";
                        $("#Rid").val(data.relicId);
                    }
                })
            }
            if(layEvent == 'reviewApply') {
                window.location.href="/sys/toSeeMovement?relicId="+data.relicId;
            }
        });
        form.on("submit(doSubmit)", function (data) {
            data.field.relicId = $("#Rid").val();
            $.post(url, data.field, function (res) {
                layer.closeAll();
                if (res.code == 200) {
                    layer.msg("插入成功");
                } else {
                    layer.msg("插入失败");
                }
            })
        });
        element.init();
    });
</script>


<script type="text/html" id="forCheck">
    {{# if(d.identityStatus == '0'){d.identityStatus='未鉴定'}}
    <span style="color: #1890ff">{{d.identityStatus}}</span>
    {{#} else {d.identityStatus = '已鉴定'}}
    {{d.identityStatus}}
    {{#}}}
</script>
<script type="text/html" id="forCheckResponse">
    {{# if(d.relicStatus == '0'){d.relicStatus='鉴定为假'}}
    <span style="color: red">{{d.relicStatus}}</span>
    {{#} else {d.relicStatus = '鉴定为真'}}
    {{d.relicStatus}}
    {{#}}}
</script>
<script type="text/html" id="forBlockChain">
    {{# if(d.relicBlockChainStatus == '0'){d.relicBlockChainStatus='文物未上链'}}
    <span style="color: #1890ff">{{d.relicBlockChainStatus}}</span>
    {{#} else {d.relicBlockChainStatus = '文物已上链'}}
    {{d.relicBlockChainStatus}}
    {{#}}}
</script>
</body>
</html>